@font-face {
	font-family: SFProDisplay;
	src: url(Fonts/SFProDisplay-Medium.ttf);
}

img {
	margin: 3px;
}

#parent {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	overflow: auto;
	flex-direction: column;
}

#stikers_keyboard {
	width: 290px;
	height: 281px;
	border: 1px solid #C5D0DB;
	border-radius: 7px;
	display: flex;
	flex-direction: column;
}

#stikers_keyboard_top {

	flex: 1;
}

#stikers_keyboard_bottom {
	flex: 0 0 19px;
	display: flex;
	flex-direction: row;
	background-color: #EBEEF2;
	border-radius: 0 0 7px 7px;

}

#smile_icon_on_kb {
	background: white;
	border-radius: 0 0 0 7px;
}

#input_form {
	padding: 9px;
	border: 1px solid #C5D0DB;
	border-radius: 7px;
	width: 272px;
	/*height: 36px;	*/
	display: flex;
}

.input_text {
	border: none;
	/*vertical-align: bottom;*/
	flex: 1;
	resize: none;
	font-family:"SFProDisplay";
}

.input_text:focus {
	outline: none;
}

#smile_icon {
	flex: 0 0 19px;
}